body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 70px;
    color: #fff;
    font-weight: 700;
    margin: 0;
}

p {
  font-size: 40px;
  font-weight: 400;
  color:#b8b8b8;
  margin:0;
}

.bg {
  background:#969B9C url("bg.jpg") no-repeat fixed center; 
  background-size: cover;
  height: 100%; 
  width:100%;
  position: absolute;
  opacity: 0.80;
}

.container {
  display: flex; 
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  width: 100vw;
  height: 100vh; 
}

a {
  color: #fff; 
  outline: 0; 
  text-decoration: none; 
}

.content {
  text-align: center; 
  position: relative;
}

.nav {
  margin: 20px 0px;
  display: flex; 
  justify-content: center;
}

.nav-item {
    transition: all 0.4s ease-in-out;
    border-radius: 100%;
    border: solid 2px #fff; 
    width: 72px; 
    height: 72px; 
    margin: 0 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.button {
  transition: all 0.4s ease-in-out; 
  border-radius: 15px;
  width:150px;
  padding: 20px;
  margin: 30px 0px;
  color: #fff;
  border: solid 2px #fff;
  height: 60px;
  background-color: transparent;
  outline: none;
}

.button:hover {
  cursor: pointer;
  background-color: #e2dada;   
}

.nav-item:hover {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  background-color: #e2dada; 
}

.nav-item a {
  font-size: 30px;
  transition: all 0.4s ease-in-out;
}

#ld:hover a {
  color: #0077b5;
}

#fb:hover a {
  color: #4267b2;
}

#gh:hover a {
  color: #24292e;
}